#app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 110px 1fr 50px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
}

#nav-div { grid-area: 1 / 1 / 2 / 2; }
#main-div { grid-area: 2 / 1 / 3 / 2; }
#footer-div { grid-area: 3 / 1 / 4 / 2; }

#logo-div {
	position: fixed;
	left: 0;
	background-color: #121212;
	z-index: 2;
}

#nav-div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #121212;
	z-index: 1;
}

#nav-button-div {
	display: flex;
	align-items: center;
	height: 110px;
}

#nav-div Button {
	margin: 5px;
}

#nav-div a {
	text-decoration: none;
}

#main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1e1e1e;
	color: rgba(255, 255, 255, 0.87);
	z-index: 0;
}

#main-div a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.87);
}

#footer-div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	bottom: 0;
	background-color: #121212;
	color: rgba(255, 255, 255, 0.87);
	z-index: 0;
}

h1 {
  font-size: 2em !important;
  margin-bottom: 0.67em !important;
}

h2 {
	font-size: 1.5em !important;
	margin-bottom: 0.83em !important;
}

h3 {
	font-size: 1.17em !important;
	margin-bottom: 1em !important;
}

.div-aligned {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.div-aligned-ol {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 600px;
}

.div-aligned-row-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.div-aligned-row {
	display: flex;
	align-items: center;
}

.delete-answer-button {
	margin-left: auto;
}

.form-aligned {
	text-align: center;
}

.user-form-span-first {
	margin-top: 15px;
}

.user-form-span-last {
	margin-top: 30px;
}

.input-span-sole {
	margin-bottom: 15px;
}

.user-button {
	margin-top: 30px !important;
}

.answer-radio {
	margin: 10px;
}

.answer-margin {
	margin-left: 10px;
}

.answer-correct {
	margin-right: 10px;
}

.card {
	position: relative;
	width: 200px;
	height: 300px;
	margin: 10px;
	background-color: #2e2e2e !important;
	box-shadow: 3px 3px 3px 3px rgba(0, 143, 148, 0.75) !important;
	/* box-shadow: 3px 3px 3px 3px #3a3a3a !important; */
	border-radius: 5% !important;
	text-align: center;
}

.question-div {
	background-color: #2e2e2e;
	/* box-shadow: 3px 3px 3px 3px rgba(0, 143, 148, 0.75); */
	/* box-shadow: 3px 3px 3px 3px #3a3a3a !important; */
	/* box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.5); */
	box-shadow: 3px 3px 3px 3px rgba(77, 165, 230, 0.75);
	border-radius: 2% !important;
	padding: 30px;
	margin-bottom: 20px;
}

.card-button-span {
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.form-row {
	display: flex;
	align-items: center;
}

.row-margin {
	margin: 20px;
}

.row-margin-no-left {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.row-margin-no-left-bottom-extra-top {
	margin-top: 40px;
	margin-right: 20px;
}

.row-margin-no-left-bottom {
	margin-top: 20px;
	margin-right: 20px;
}

.li-margin-bottom {
	margin-bottom: 20px;
}

.button-margin-left {
	margin-left: 15px;
}

.home-p {
	width: 600px;
}

.p-radiobutton .p-radiobutton-box {
	border: 1px solid rgba(255, 255, 255, 0.87) !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
	background-color: rgb(77, 165, 230) !important;
}

.p-checkbox .p-checkbox-box {
	border: 1px solid rgba(255, 255, 255, 0.87) !important;
}

.review-row {
	display: flex;
	margin-top: 20px;
}

.review {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px;
	font-size: 0.75em;
}

.review img {
	width: 75px;
	margin-bottom: 10px;
}

.review p {
	width: 75px;
}

/* Fade-in start */

.fade-in-5 {
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;
}

.fade-in-2 {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}
	
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

/* Fade-in end */