#app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 110px 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
	overflow-x: hidden;
}

#nav { grid-area: 1 / 1 / 2 / 2; }
#main { grid-area: 2 / 1 / 3 / 2; }
#footer { grid-area: 3 / 1 / 4 / 2; }

#logo {
	position: fixed;
	left: 0;
}

#nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: #121212;
}

#nav Button {
	margin: 5px;
}

#nav a {
	text-decoration: none;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	background-color: #1e1e1e;
	color: rgba(255, 255, 255, 0.87);
}

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	bottom: 0;
	height: 50px;
	background-color: #121212;
	color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 2em !important;
  margin-bottom: 0.67em !important;
}

h2 {
	font-size: 1.5em !important;
	margin-bottom: 0.83em !important;
}

h3 {
	font-size: 1.17em !important;
	margin-bottom: 1em !important;
}

.div-aligned {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-aligned {
	text-align: center;
}

.user-form-span-first {
	margin-top: 15px;
}

.user-form-span-last {
	margin-top: 30px;
}

.input-span-sole {
	margin-top: 15px;
	margin-bottom: 15px;
}

.user-button {
	margin-top: 30px !important;
}

